EasyPlayerPro.xcodeproj/xcuserdata/lyy.xcuserdatad/xcschemes/xcschememanagement.plist
EasyPlayerPro.xcworkspace/xcuserdata/lyy.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/lyy.xcuserdatad/xcschemes/xcschememanagement.plist
EasyPlayer/IJKMediaFramework.framework